<div class='container'>
    <div class='row'>
        <div class='col-lg-6'>

            <div class='panel panel-info'>
                <div class='panel-heading'>
                    <h4 class='text-center'>Employee monthly payslip calculator</h4>
                </div>
                <div class='panel-body'>
                    <form name='form' novalidate>
                        <div class='form-group' ng-class='{"has-error": form.firstName.$dirty && form.firstName.$error.validateFirstAndLastName}'>
                            <input type='text' name='firstName' class='form-control' id='id_firstName' ng-model='user.firstName' placeholder='First name' validate-first-and-last-name>
                            <small ng-show='form.firstName.$dirty && form.firstName.$error.validateFirstAndLastName'>Accept only character or space</small>
                        </div>

                        <div class='form-group' ng-class='{"has-error": form.lastName.$dirty && form.lastName.$error.validateFirstAndLastName}'>
                            <input type='text' name='lastName' class='form-control' id='id_lastName'
                            ng-model='user.lastName' placeholder='Last name' validate-first-and-last-name>
                            <small ng-show='form.lastName.$dirty && form.lastName.$error.validateFirstAndLastName'>Accept only character or space</small>
                        </div>

                        <div class='form-group' ng-class='{"has-error": form.salary.$dirty && form.salary.$error.validateAmount}'>
                            <div class='input-group'>
                                <div class='input-group-addon'>$</div>
                                <input type='text' name='salary' class='form-control' id='id_salary' ng-model='user.annualSalary' placeholder='Annual Salary' validate-amount />
                            </div>
                            <small ng-show='form.salary.$dirty && form.salary.$error.validateAmount'>Accept salary format 10 or 10.50</small>
                        </div>

                        <div class='form-group' ng-class='{"has-error": form.superRate.$dirty && form.superRate.$error.validateAmount}'>
                            <div class='input-group'>
                                <input type='text' name='superRate' class='form-control' id='id_superRate' ng-model='user.superRate' placeholder='Super' validate-amount />
                                <div class='input-group-addon'>%</div>
                            </div>
                            <small ng-show='form.superRate.$dirty && form.superRate.$error.validateAmount'>Accept rate format 10 or 10.50</small>
                        </div>

                        <div class='form-group' ng-class='{"has-error": form.paymentStartDate.$dirty && form.paymentStartDate.$error.required}'>
                            <input type='text' name='paymentStartDate' class='form-control' id='id_paymentStartDate' ng-model='user.paymentStartDate' placeholder='Payment start date' ng-required='true'>
                            <small ng-show='form.paymentStartDate.$dirty && form.paymentStartDate.$error.required'>Payment start date is required</small>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class='col-lg-6'>
            <div class='panel panel-success'>
                <div class='panel-heading'>
                    <h4 class='text-center'>Result</h4>
                </div>
                <div class='panel-body'>
                    <table class='table table-striped'>
                        <tbody>
                            <tr>
                                <td>Full Name</td>
                                <td>{{ user.getFullName() }}</td>
                            </tr>
                            <tr>
                                <td>Period</td>
                                <td>{{ user.getPayPeriod() }}</td>
                            </tr>
                            <tr>
                                <td>Gross Income</td>
                                <td>{{ user.getGrossIncome() | currency}}</td>
                            </tr>
                            <tr>
                                <td>Income Tax</td>
                                <td>{{ user.getIncomeTax() | currency}}</td>
                            </tr>
                            <tr>
                                <td>Net Income</td>
                                <td>{{ user.getNetIncome() | currency}}</td>
                            </tr>
                            <tr>
                                <td>Super</td>
                                <td>{{ user.getSuperRate() | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>