<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <base href='/'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MYOB Code Test</title>

        <link rel="stylesheet" type="text/css" href="/library/css/library.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>

    <body>
        {{{body}}}

        <script src="/library/js/library.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
